* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0b1020;
    color: white;
    display: flex;
}

/* SIDEBAR */

.sidebar {
    width: 240px;
    min-height: 100vh;
    background: #11182b;
    padding: 25px 18px;
    position: fixed;
    left: 0;
    top: 0;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.logo span {
    margin-left: 5px;
}

.subtitle {
    color: #8d96aa;
    font-size: 12px;
    margin: 8px 0 30px;
}

nav a {
    display: block;
    color: #aeb6c8;
    text-decoration: none;
    padding: 13px;
    margin-bottom: 6px;
    border-radius: 8px;
}

nav a:hover,
nav a.active {
    background: #282653;
    color: white;
}

/* MARKET BOX */

.market-box {
    margin-top: 35px;
    padding: 15px;
    background: #181f34;
    border-radius: 12px;
}

.market-box h3 {
    margin-bottom: 15px;
}

.market-box p {
    color: #8d96aa;
    font-size: 12px;
    margin-top: 12px;
}

.market-box h4 {
    margin-top: 4px;
}

/* MAIN */

.main {
    margin-left: 240px;
    width: calc(100% - 240px);
    padding: 30px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 30px;
}

header p {
    color: #8d96aa;
    margin-top: 7px;
}

.header-right {
    display: flex;
    gap: 10px;
}

.header-right button,
.section-title button {
    background: #181f34;
    color: white;
    border: 1px solid #29324b;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.header-right button:hover,
.section-title button:hover {
    background: #282653;
}

/* SEARCH */

.search-section {
    display: flex;
    margin: 30px 0;
    gap: 10px;
}

.search-section input {
    flex: 1;
    padding: 15px;
    background: #151c30;
    color: white;
    border: 1px solid #29324b;
    border-radius: 9px;
    outline: none;
}

.search-section input:focus {
    border-color: #7567ff;
}

.search-section button {
    padding: 15px 25px;
    background: #6658e8;
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

.search-section button:hover {
    background: #7769ff;
}

/* CARDS */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    margin-bottom: 30px;
}

.card {
    background: #151c30;
    border: 1px solid #222c45;
    border-radius: 14px;
    padding: 22px;
}

.card p {
    color: #8d96aa;
    font-size: 14px;
}

.card h2 {
    margin: 15px 0 8px;
    font-size: 25px;
}

.green {
    color: #28d69a;
}

.red {
    color: #ff5c70;
}

/* CRYPTO SECTION */

.crypto-section {
    background: #11182b;
    border-radius: 14px;
    padding: 25px;
    border: 1px solid #222c45;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.section-title h2 {
    font-size: 20px;
}

.section-title p {
    color: #8d96aa;
    font-size: 13px;
    margin-top: 5px;
}

/* TABLE */

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    color: #7f899f;
    font-size: 12px;
    text-align: left;
    padding: 14px 10px;
    border-bottom: 1px solid #252e45;
}

td {
    padding: 18px 10px;
    border-bottom: 1px solid #1e2740;
}

tr:hover {
    background: #151e34;
}

/* FOOTER */

footer {
    text-align: center;
    color: #69738a;
    font-size: 12px;
    padding: 30px 0 10px;
}


/* RESPONSIVE */

@media (max-width: 1000px) {

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .sidebar {
        width: 200px;
    }

    .main {
        margin-left: 200px;
        width: calc(100% - 200px);
    }
}


@media (max-width: 700px) {

    body {
        display: block;
    }

    .sidebar {
        position: relative;
        width: 100%;
        min-height: auto;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
    }

    nav a {
        margin-right: 5px;
    }

    .market-box {
        display: none;
    }

    .main {
        margin-left: 0;
        width: 100%;
        padding: 20px;
    }

    header {
        display: block;
    }

    .header-right {
        margin-top: 15px;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .search-section {
        flex-direction: column;
    }

    table {
        min-width: 700px;
    }

    .crypto-section {
        overflow-x: auto;
    }
}